.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  overflow-x: hidden;
}
