:root {
    --icon-fill-light: black;
    --icon-fill-dark: whitesmoke;
}

#icon-button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

.icon-btn {
  transition: transform 0.2s ease;
}

.icon-btn:hover {
  transform: scale(1.05);
}

.icon-svg {
    fill: var(--icon-fill-dark);
}

.icon-svg.light-mode {
    fill: var(--icon-fill-light);
}
