#icon-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
  }

.icon-btn {
  transition: transform 0.2s ease;
}

.icon-btn:hover {
  transform: scale(1.05);
}
