body {
  margin: 0;
  font-family:
  "Roboto Mono",
  "Roboto Mono-fallback",
  var(
    --fontStack-monospace,
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  width: 100%;

  /* Background colours */
  color: whitesmoke;
  background-color: #131314;
}

button {
  cursor: pointer;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

