.link-icon-wrapper {
  display: inline-flex;
  align-items: center;
  margin-left: 0.35em;
  white-space: nowrap;
}

.link-icon-prefix {
  display: inline-flex;
  align-items: center;
  margin-right: 0.35em;
}

.link-text-with-icon {
  display: inline-flex;
  align-items: center;
}

.link-text {
  display: inline;
}

.link-icon {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.link-icon-image {
  width: 12px;
  height: 12px;
  display: block;
}
