.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 650px;
  width: 100%;
  width: calc(100% - 1em);
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 13px;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0.75em 1em 0.75em 1em;
  padding-right: 1em;
  padding-left: 0;
}

ul li::before {
  content: "> ";
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.section-content pre {
    white-space: pre-wrap;
    margin: 0;
    line-height: 1.5em;
}
