:root {
  --background-color-light: #ffffff;
  --background-color-dark: #131314;
  --font-color-light: #000000;
  --font-color-dark: #ffffff;
  --max-body-width: 650px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: var(--max-body-width);
  width: 100%;
  width: calc(100% - 1em);
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 13px;
  background-color: var(--background-color-dark);
}


#main-container.light-mode {
  background-color: var(--background-color-light);
  color: var(--font-color-light);
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0.75em 1em 0.75em 1em;
  padding-right: 1em;
  padding-left: 0;
}

ul li::before {
  content: "> ";
}

pre {
  text-size-adjust: none;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
}

.section-content pre {
  white-space: pre-wrap;
  margin: 0;
  line-height: 1.5em;
}
