.project-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.project-container-center {
  width: 100%;
}

.project-header-container {
  width: 100%;
}

.project-header-container h3 {
  margin: 0;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-subtitle {
  font-weight: 400;
  margin-top: 0;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-container-siderails {
  width: 45px;
  text-align: center;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image {
  max-height: 18vh;
}

.project-main-content {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.project-main-content.expanded {
    max-height: 1000px; /* Adjust this value as needed */
  }

.expand-btn {
  font-size: 11px;
  cursor: pointer;
  padding-right: 8px;
}

.expand-project-btn {
  font-size: 11px;
  font-weight: 800;
  cursor: pointer;
  width: 27px;
  height: 27px;
}

.timeline-vline {
  width: 1px;
}
