#contents-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-link {
  display: flex;
  flex-direction: row;
}

#subtitle-animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: chartreuse;
  font-size: larger;
  font-weight: 100;
}
